INPUT.factory_level
{
    width: 50px;
}

TD
{
    text-align: right;
    padding: 3px 8px;
}

TD.l
{
    text-align: left;
}

THEAD TH
{
    background-color: #FFD;
    border: solid gray 2px;
}

TD.neg, TR.bleading, TD.bleading
{
    color: red;
}

TR.best, TD.good
{
    color: green;
    font-weight: bold;
}

TR.odd, TR:nth-child(odd)
{
    background-color: #FFE;
}

TR.even, TR:nth-child(even)
{
    background-color: #EEF;
}

IMG.tr_icon
{
    height: 24px;
    vertical-align: middle;
    padding-left: 5px;
}

INPUT.add_button
{
    width: 5px;
    padding: 0px;
}

UL.tabmenu {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

UL.tabmenu LI
{
    float: left;
    border: solid gray 2px;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    margin-right: 5px;
    list-style: none;
}

UL.tabmenu LI.selected
{
    border: solid black 2px;
}
